<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DPS for mages (ice arrow ver)</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->

	<style>
		.hidden {
			display: none;
		}

		.gray {
			filter: grayscale(1);
		}
	</style>
</head>
<body>
	<div id="app">
		<div class="container">
			<div class="row">
				<div class="form-check">
					<input
						type="checkbox"
						v-model="roundValues"
						class="form-check-input"
						id="accurate"
					/>
					<label class="form-check-label" for="accurate">
						visually round values
					</label>
				</div>
			</div>

			<custom-input name="ice spd" v-model="spd" min="0"></custom-input>
			<custom-input name="Intellect from clothes" v-model="intellect" min="0">
				total int = {{round100(totalInt)}}
				int crit = {{round100(intCrit)}}
			</custom-input>
			<custom-input name="crit w/o int %" v-model="crit" min="0">
				total crit = {{round100(totalCrit)}}
			</custom-input>
			<custom-input name="total hit %" v-model="totalhit" min="82" max="99"></custom-input>
			<custom-input name="active %" v-model="active" min="0" max="100"></custom-input>
			<div class="row" style="padding-top: 10px;">
				<custom-checkbox
					title="tier 2 last bonus"
					v-model="setBonus"
					src="spell_shadow_manaburn.jpg"
					></custom-checkbox>
				<custom-checkbox
					title="head buff"
					v-model="buffs.head"
					src="inv_misc_head_dragon_01.jpg"
				></custom-checkbox>
				<custom-checkbox
					title="int"
					v-model="buffs.int"
					src="spell_holy_magicalsentry.jpg"
				></custom-checkbox>
			</div>

			<div class="result">
				<span v-html="formula"></span> = {{result}}
			</div>
		</div>
	</div>
	<script type="text/javascript" src="./script.js"></script>
</body>
</html>
