<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DPS for mages (ice arrow ver)</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->

	<style>
		.hidden {
			display: none;
		}

		.gray {
			filter: grayscale(1);
		}
	</style>
</head>
<body>
	<div id="app">
		<div class="container">
			<div class="row">
				<div class="form-check">
					<input
						type="checkbox"
						v-model="roundValues"
						class="form-check-input"
						id="accurate"
					/>
					<label class="form-check-label" for="accurate">
						visually round values
					</label>
				</div>
			</div>

			<custom-input name="ice spd" v-model="spd" min="0">
				total spd = {{round100(totalSpd)}}
			</custom-input>
			<custom-input name="Intellect from clothes" v-model="intellect" min="0">
				total int = {{round100(totalInt)}}
				int crit = {{round100(intCrit)}}
			</custom-input>
			<custom-input name="crit from clothes %" v-model="crit" min="0">
				total crit = {{round100(totalCrit)}}
			</custom-input>
			<custom-input name="total hit %" v-model="totalhit" min="82" max="99"></custom-input>
			<custom-input name="active %" v-model="active" min="0" max="100"></custom-input>
			<div class="row" style="padding-top: 10px;">
				<div class="col-md-12" @click="toggle_buffs('clothes')"><h3>Одежда</h3></div>
				<custom-checkbox title="tier 2 last bonus" v-model="setBonus" src="spell_shadow_manaburn.jpg"></custom-checkbox>
				<custom-checkbox title="zandalar trinket" v-model="zandTrink" src="inv_jewelry_necklace_13.jpg"></custom-checkbox>
			</div>
			<div class="row" style="padding-top: 10px;">
				<div class="col-md-12" @click="toggle_buffs('wb')"><h3>World buffs</h3></div>
				<custom-checkbox title="head buff" v-model="buffs.head" src="inv_misc_head_dragon_01.jpg"></custom-checkbox>
				<custom-checkbox title="zandalar" v-model="buffs.zand" src="ability_creature_poison_05.jpg"></custom-checkbox>
				<custom-checkbox title="dm" v-model="buffs.dm" src="spell_holy_lesserheal02.jpg"></custom-checkbox>
				<custom-checkbox title="flower" v-model="buffs.flower" src="spell_holy_mindvision.jpg"></custom-checkbox>
				<custom-checkbox title="darkmoon festival damage" v-model="buffs.dmf" src="inv_misc_orb_02.jpg"></custom-checkbox>
				<custom-checkbox title="darkmoon festival intellect" v-model="buffs.dmfInt" src="inv_misc_orb_02.jpg"></custom-checkbox>
			</div>
			<div class="row" style="padding-top: 10px;">
				<div class="col-md-12" @click="toggle_buffs('b')"><h3>Raid buffs</h3></div>
				<custom-checkbox title="int" v-model="buffs.int" src="spell_holy_magicalsentry.jpg"></custom-checkbox>
				<custom-checkbox title="Знак дикой природы" v-model="buffs.motw" src="spell_nature_regeneration.jpg"></custom-checkbox>
				<custom-checkbox title="blessing" v-model="buffs.blessing" src="spell_magic_greaterblessingofkings.jpg"></custom-checkbox>
			</div>
			<div class="row" style="padding-top: 10px;">
				<div class="col-md-12" @click="toggle_buffs('chem')"><h3>Химия</h3></div>
				<custom-checkbox title="great power" v-model="buffs.greatPower" src="inv_potion_41.jpg"></custom-checkbox>
				<custom-checkbox title="ice power" v-model="buffs.icePower" src="inv_potion_03.jpg"></custom-checkbox>
				<custom-checkbox title="arcane elixir" v-model="buffs.arcanePower" src="inv_potion_25.jpg"></custom-checkbox>
				<custom-checkbox title="Oil" v-model="buffs.oil" src="inv_potion_105.jpg"></custom-checkbox>
				<custom-checkbox title="runtum" v-model="buffs.runtum" src="inv_misc_food_63.jpg"></custom-checkbox>
				<custom-checkbox title="Эликсир Мозгового штурма" v-model="buffs.mindElixir" src="inv_potion_32.jpg"></custom-checkbox>
				<custom-checkbox title="Коварство джуджу" v-model="buffs.juju" src="inv_misc_monsterscales_13.jpg"></custom-checkbox>
			</div>
			<div class="row" style="padding-top: 10px;">
				<div class="col-md-12" @click="toggle_buffs('talents')"><h3>Talents</h3></div>
				<talent title="Improved Frostbolt" v-model="talents.fbCastTime" max="5" src="spell_frost_frostbolt02.jpg"></talent>
			</div>

			<div class="col-md-12">
				<span v-html="formula"></span> = {{result}}
			</div>

			<div class="col-md-12">
				<div class="form-check">
					<input type="checkbox" class="form-check-input" id="history_cb" v-model="holdHistory"/>
					<label class="form-check-label" for="history_cb">hold sum</label>
				</div>
			</div>

			<div class="col-md-12" v-for="(row,key) in history.slice().reverse()" :key="key">
				added {{round100(row.added)}} ({{round100(row.percent)}}%)
			</div>
		</div>
	</div>
	<script type="text/javascript" src="./script.js"></script>
</body>
</html>
